* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

html {
  background-color: #39393f;
  min-height: 100vh;
}
.welcome-container {
  display: flex;
  flex-direction: column;
  background-color: #7c7ccf;
  min-height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  color: rgb(240, 187, 40);
}
p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  font-size: 1rem;
  color: black;
}

.welcome-words-choice {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  & h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    color: rgb(240, 187, 40);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}
.button-container {
  padding: 2.5rem;
}

.welcome-words-send {
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: rgb(240, 187, 40);
  border: none;
  font-weight: bold;
}
