<div class="game-container">

  <div class="game-header">
    <h1>Select all the images that contain {{themeToShow}}</h1>
  </div>

  <div id="countdown">
    <div id="countdown-number">
      <p>{{counter}}</p>
    </div>
    <svg>
      <circle r="18" cx="20" cy="20"></circle>
    </svg>
  </div>

  <div class="game-image-grid">
    <div *ngFor="let image of imageList | slice:0:16" class="game-image-grid__item">
      <img type="image" id="image" [alt]="image[1] === undefined ? image [2] : image[1] === this.theme1 ? image[1] : image[1] === this.theme2 ? image[1] :
          image[2]" [src]="image[0]" class="game-image-grid__image" (click)="selectImages($event)">
    </div>

  </div>
  <div class="button-container">
    <button (click)="submit()" class="game-image-submit">Submit Selected</button>
  </div>


</div>
